@import './fonts.css';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hire-btn {
    outline: none;
    border: none;
    /* background-color: #AE9935; */
    background: linear-gradient(90.07deg, #398C7A -2.4%, rgba(255, 181, 16, 0.74) 140.77%);
    border-radius: 50px;
    padding: 12px 100px;
    font-family: "R-Bold";
    color: white;
    font-size: 20px;
}