@import './fonts.css';

@media only screen {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-start {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .purple {
        color: #5a45fe;
    }

    
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    
}