@font-face {
    font-family: "R-Regular";
    src: url('../assets/RohnRounded-Medium.ttf');
}

@font-face {
    font-family: "R-Bold";
    src: url('../assets/RohnRounded-Bold.ttf');
}

@font-face {
    font-family: "SFR";
    src: url('../assets/SFPROTEXT-REGULAR.ttf');
}

@font-face {
    font-family: "SFB";
    src: url('../assets/SF-Pro-Display-Bold.otf');
}

/* @font-face {
    font-family: "sfr";
    src: url('../../fonts/SFProText-Regular.woff');
} */