@import './fonts.css';

@media only screen {
    .home {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: #1A1A1A;
    }

    .home-blur {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        /* background-color: #1A1A1A; */
        background-color: #1a1a1a65;
        backdrop-filter: blur(40px);
    }
}