@media only screen {
    .landing {
        margin-top: 90px;
    }

    .glow {
        color: #5a45fe;
    }

    .l-title {
        color: black;
        text-align: center;
        font-size: 38px;
        width: 320px;
        font-family: 'DM';
        line-height: 1.2;
    }

    .l-subtitle {
        font-family: 'RR';
        font-size: 18px;
        text-align: center;
        width: 250px;
        color: rgb(94, 94, 94);
        margin-top: 20px;
        line-height: 1.5;
    }

    .l-btn {
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 40px;
        outline: none;
        border: none;
        background-color: #5a45fe;
        padding: 15px 30px;
        width: 100%;
        font-family: 'RM';
        color: white;
        font-size: 14px;
        border-radius: 50px;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .landing {
        margin-top: 90px;
    }

    .glow {
        color: #5a45fe;
    }

    .l-title {
        color: black;
        text-align: center;
        font-size: 70px;
        width: 600px;
        font-family: 'DM';
        line-height: 1.0;
    }

    .l-subtitle {
        font-family: 'RR';
        font-size: 20px;
        text-align: center;
        width: 500px;
        color: rgb(94, 94, 94);
        margin-top: 25px;
        line-height: 1.5;
    }

    .l-btn {
        margin-top: 40px;
        outline: none;
        border: none;
        background-color: #5a45fe;
        padding: 10px 25px;
        font-family: 'RM';
        color: white;
        width: fit-content;
        font-size: 16px;
        border-radius: 50px;
    }
}

@media only screen and (min-width: 64.063em) {
    .landing {
        margin-top: 110px;
    }

    .glow {
        color: #5a45fe;
    }

    .l-title {
        color: black;
        text-align: center;
        font-size: 90px;
        width: 750px;
        font-family: 'DM';
        line-height: 1.0;
    }

    .l-subtitle {
        font-family: 'RR';
        font-size: 20px;
        text-align: center;
        width: 500px;
        color: rgb(94, 94, 94);
        margin-top: 40px;
        line-height: 1.5;
    }

    .l-btn {
        margin-top: 40px;
        outline: none;
        border: none;
        background-color: #5a45fe;
        padding: 15px 40px;
        font-family: 'RM';
        color: white;
        width: fit-content;
        font-size: 16px;
        border-radius: 50px;
        cursor: pointer;
    }
}