@import './fonts.css';

@media only screen {
    .m-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px 20px;
        background-color: #1a1a1a60;
        color: white;
        z-index: 200;
        backdrop-filter: blur(40px);
        border-bottom: 2px solid #252525;
        transition: 0.5s ease-in-out;
    }

    .m-nav-open {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15px 20px;
        background-color: #1a1a1a3b;
        color: white;
        z-index: 200;
        backdrop-filter: blur(40px);
        border-bottom: 2px solid #252525;
        transition: all 0.5s ease-in-out;
    }

    .m-menu-items {
        position: absolute;
        top: 60px;
    }

    .d-nav {
        display: none;
    }

    .n-l {
        height: 20px;
    }

    .n-icon {
        height: 26px;
    }

    .m-item {
        color: #bbbbbb;
        transition: 0.5s ease-in-out;
        font-family: 'SFB';
        font-size: 26px;
        margin-top: 10px;
    }

    .m-item:hover {
        cursor: pointer;
        background: linear-gradient(90.07deg, #398C7A -2.4%, rgba(255, 181, 16, 0.74) 140.77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

@media only screen and (min-width: 64.063em) {
    .m-nav {
        display: none;
    }

    .d-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 12px 20px;
        background-color: #1a1a1a3b;
        z-index: 200;
        backdrop-filter: blur(40px);
        gap: 60px;
        border-bottom: 1px solid #252525;
    }

    .n-l {
        height: 20px;
    }

    .n-icon {
        height: 26px;
        fill: #bbbbbb;
        stroke: #bbbbbb;
    }

    .n-item {
        color: #bbbbbb;
        transition: 0.5s ease-in-out;
        font-family: 'SFB';
    }

    .n-item:hover {
        cursor: pointer;
        background: linear-gradient(90.07deg, #398C7A -2.4%, rgba(255, 181, 16, 0.74) 140.77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .n-logo {
        /* position: absolute;
        left: 60px; */

    }
}