@import './fonts.css';

@media only screen {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 0px;
        /* background-color: white; */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.856);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(5px);
    }

    .nav-logo {
        width: auto;
        height: 18px;
    }

    .nope {
        display: none;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.856);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    .nope {
        display: block;
    }

    .nav-ct {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 50px;
        width: 100%;
    }

    .nav-logo {
        width: auto;
        height: 22px;
    }

    ul {
        font-family: 'RM';
        font-size: 14px;
        cursor: pointer;
        color: black;
    }

    .n-btn {
        outline: none;
        border: none;
        background-color: #5a45fe;
        color: white;
        font-family: 'RR';
        font-size: 14px;
        padding: 10px 20px;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .n-btn-icon {
        fill: white;
        height: 16px;
    }
}

@media only screen and (min-width: 64.063em) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 0px;
        background-color: rgba(255, 255, 255, 0.856);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .nope {
        display: block;
    }

    .nav-ct {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 50px;
        width: 100%;
    }

    .nav-logo {
        width: auto;
        height: 22px;
    }

    ul {
        font-family: 'RM';
        font-size: 14px;
        cursor: pointer;
        color: black;
    }

    .n-btn {
        outline: none;
        border: none;
        background-color: #5a45fe;
        color: white;
        font-family: 'RR';
        font-size: 14px;
        padding: 10px 20px;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .n-btn-icon {
        fill: white;
        height: 16px;
    }
}