@import "./fonts.css";

@media only screen {
    .reviews {
        margin: 60px 0px;
    }

    .r-title {
        background: linear-gradient(90.07deg, #398C7A -2.4%, rgba(255, 181, 16, 0.74) 140.77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-family: "R-Bold";
        font-size: 30px;
        text-align: center;
    }

    .r-card {
        margin-top: 30px;
        width: 100%;
        border-radius: 10px;
        background-color: #1f1f1f93;
        padding: 20px;
        border: 2px solid #252525;
        backdrop-filter: blur(40px);
        position: relative;
        z-index: 100;
        height: 200px;
    }

    .r-review {
        color: #727272;
        font-family: "SFR";
        font-size: 16px;
        text-align: start;
    }

    .r-name {
        margin-top: 10px;
        text-align: start;
        font-family: "R-Bold";
        color: #8d8d8d;
        font-size: 16px;
    }

    .r-workplace {
        text-align: start;
        font-family: "SFR";
        color: #727272;
        font-size: 12px;
    }

    .r-rate-wr {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -28px;
        left: 0;
        width: 100%;
    }

    .r-rate {
        padding: 5px;
        background-color: #398C7A;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .r-img {
        height: 40px;
        width: 40px;
        background-size: cover;
        border-radius: 50px;
    }

    .r-count {
        margin: 15px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        width: 100%;
    }

    .r-icon {
        fill: #398C7A;
        height: 20px;
    }

    .rate-icon-wr {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        /* background-color: #398c7ab9; */
        background: linear-gradient(90deg, rgba(92, 182, 164, 0.78) -22.34%, rgba(255, 181, 16, 0.78) 195.43%);
        height: 40px;
        width: 40px;
    }

    .rate-icon {
        fill: white;
        height: 24px;
        width: auto;
    }

    .r-fade {
        z-index: 50;
        background: linear-gradient(90deg, rgba(92, 182, 164, 0.78) -22.34%, rgba(255, 181, 16, 0.78) 195.43%);
        padding: 10px;
        width: 85%;
        border-radius: 10px;
        height: 60px;
        margin-top: -50px;
    }

    .my-reviews {
        display: block;
        padding: 0px 20px;
    }

    .footer {
        background-color: transparent;
        padding: 20px;
        margin-top: 60px;
        font-family: "SFR";
        color: #727272;
    }

    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .s-icon-wr {
        border-radius: 999px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        gap: 30px;
    }

    .s-icon {
        fill: #727272;
        height: 25px;
        transition: 0.5s ease-in-out;
    }

    .s-icon:hover {
        fill: #398C7A;
        cursor: pointer;
    }

    .author {
        position: absolute;
        bottom: 15px;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .reviews {
        margin: 10px 0px;
    }

    .r-title {
        background: linear-gradient(90.07deg, #398C7A -2.4%, rgba(255, 181, 16, 0.74) 140.77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-family: "R-Bold";
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    .r-card-wr {
        width: 350px;
    }

    .r-card {
        margin-top: 30px;
        width: 100%;
        border-radius: 10px;
        background-color: #1f1f1f93;
        padding: 20px;
        border: 2px solid #252525;
        backdrop-filter: blur(40px);
        position: relative;
        height: 220px;
        z-index: 100;
    }

    .r-review {
        color: #727272;
        font-family: "SFR";
        font-size: 16px;
        text-align: start;
    }

    .r-name {
        margin-top: 10px;
        text-align: start;
        font-family: "R-Bold";
        color: #8d8d8d;
        font-size: 16px;
    }

    .r-workplace {
        text-align: start;
        font-family: "SFR";
        color: #727272;
        font-size: 12px;
    }

    .r-rate-wr {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -28px;
        left: 0;
        width: 100%;
    }

    .r-rate {
        padding: 5px;
        background-color: #398C7A;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .r-img {
        height: 40px;
        width: 40px;
        background-size: cover;
        border-radius: 50px;
    }

    .r-count {
        margin: 15px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        width: 100%;
    }

    .r-icon {
        fill: #398C7A;
        height: 20px;
    }

    .rate-icon-wr {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        /* background-color: #398c7ab9; */
        background: linear-gradient(90deg, rgba(92, 182, 164, 0.78) -22.34%, rgba(255, 181, 16, 0.78) 195.43%);
        height: 40px;
        width: 40px;
    }

    .rate-icon {
        fill: white;
        height: 24px;
        width: auto;
    }

    .r-fade {
        z-index: 50;
        background: linear-gradient(90deg, rgba(92, 182, 164, 0.78) -22.34%, rgba(255, 181, 16, 0.78) 195.43%);
        padding: 10px;
        width: 85%;
        border-radius: 10px;
        height: 60px;
        margin-top: -50px;
    }

    .my-reviews {
        display: flex;
        gap: 10px;
        padding: 0px 20px;
    }

    .s-icon-wr {
        border-radius: 999px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        gap: 60px;
    }
}

@media only screen and (min-width: 64.063em) {
    .reviews {
        margin: 10px 0px;
    }

    .r-title {
        background: linear-gradient(90.07deg, #398C7A -2.4%, rgba(255, 181, 16, 0.74) 140.77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-family: "R-Bold";
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    .r-card-wr {
        width: 350px;
    }

    .r-card {
        margin-top: 30px;
        width: 100%;
        border-radius: 10px;
        background-color: #1f1f1f93;
        padding: 20px;
        border: 2px solid #252525;
        backdrop-filter: blur(40px);
        position: relative;
        z-index: 100;
        height: 200px;
    }

    .r-review {
        color: #727272;
        font-family: "SFR";
        font-size: 16px;
        text-align: start;
    }

    .r-name {
        margin-top: 10px;
        text-align: start;
        font-family: "R-Bold";
        color: #8d8d8d;
        font-size: 16px;
    }

    .r-workplace {
        text-align: start;
        font-family: "SFR";
        color: #727272;
        font-size: 12px;
    }

    .r-rate-wr {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -28px;
        left: 0;
        width: 100%;
    }

    .r-rate {
        padding: 5px;
        background-color: #398C7A;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .r-img {
        height: 40px;
        width: 40px;
        background-size: cover;
        border-radius: 50px;
    }

    .r-count {
        margin: 15px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        width: 100%;
    }

    .r-icon {
        fill: #398C7A;
        height: 20px;
    }

    .rate-icon-wr {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        /* background-color: #398c7ab9; */
        background: linear-gradient(90deg, rgba(92, 182, 164, 0.78) -22.34%, rgba(255, 181, 16, 0.78) 195.43%);
        height: 40px;
        width: 40px;
    }

    .rate-icon {
        fill: white;
        height: 24px;
        width: auto;
    }

    .r-fade {
        z-index: 50;
        background: linear-gradient(90deg, rgba(92, 182, 164, 0.78) -22.34%, rgba(255, 181, 16, 0.78) 195.43%);
        padding: 10px;
        width: 85%;
        border-radius: 10px;
        height: 60px;
        margin-top: -50px;
    }

    .my-reviews {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 0px 60px;
        width: 100%;
    }

    .s-icon-wr {
        border-radius: 999px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        gap: 60px;
    }
}